:root {
  --gold-dark: #fff700a1;
  --gold: #fff600;
  --silver: #c0c0c0;
  --red: #ff0000;
  --dark-red: #990303;
  --grey: #414141;
  --dark-grey: #252525;
}

.goldGlow {
  -webkit-animation: gold-glow 0.75s ease-in-out infinite alternate;
  -moz-animation: gold-glow 0.75s ease-in-out infinite alternate;
  animation: gold-glow 0.75s ease-in-out infinite alternate;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 246, 13, 1);
  color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5.550000190734863px);
}

@keyframes gold-glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffdd1b, 0 0 40px #ffdd1b;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffdd1b;
  }
}

.silverGlow {
  -webkit-animation: silver-glow 0.75s ease-in-out infinite alternate;
  -moz-animation: silver-glow 0.75s ease-in-out infinite alternate;
  animation: silver-glow 0.75s ease-in-out infinite alternate;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgb(213, 213, 213);
  color: rgba(0, 0, 0, 0.5);;
  backdrop-filter: blur(5.550000190734863px);
}

@keyframes silver-glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--silver),
      0 0 40px var(--silver), 0 0 50px var(--silver);
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px var(--silver),
      0 0 30px var(--silver), 0 0 40px var(--silver);
  }
}

.whiteGlow {
  -webkit-animation: white-glow 0.75s ease-in-out infinite alternate;
  -moz-animation: white-glow 0.75s ease-in-out infinite alternate;
  animation: white-glow 0.75s ease-in-out infinite alternate;
}

@keyframes white-glow {
  from {
    box-shadow: 0 0 10px #000, 0 0 20px #bf1f1f;
  }
  to {
    box-shadow: 0 0 10px #000, 0 0 20px #bf1f1f;
  }
}
